$black: #000;
$white: #fff;
$lightGrey: #e5e5e5;
$electricPurple: #b100ff;
$electricViolet: #9500d6;
$error: #ed0000;

$primaryColor: #b100ff;
$paginationEmpty: #707070;

$columnWidth: 122px;
$gutterWidth: 16px;

$siteWidth: $columnWidth * 12 + $gutterWidth * 11;
